%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Home', root_path
    %li.breadcrumb-item.active{"aria-current" => "page"}= @question.title
%div
  %div.overflow-auto
    %h1.d-inline-block.float-start= @question.title
    - if @question.user == current_user
      = link_to 'Edit', edit_question_path(@question), class: 'd-inline-block float-end mt-3'
  %hr
  %p= @question.body
  %h3= "#{@question.answers.size - 1} Answers"
  - @question.answers.each do |answer|
    - next if answer.new_record?
    - background_class = answer.id.presence.to_s == params[:answer_id].to_s ? 'alert alert-info' : ''
    %hr
    %div{class: background_class}
      %h6= "By: #{answer.user.email}"
      %p= answer.body

- if user_signed_in?
  = form_for [@question, @question.answers.new] do |f|
    = f.label :body, 'Your Answer', class: 'form-label'
    = f.text_area :body, class: 'form-control'
    %label.text-danger= @answer.errors[:body].first if @answer.errors[:body].any?
    .action
      = f.submit 'Post Your Answer', class: 'btn btn-primary'
